.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-roboto);
    background-color: #212426;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff7f50; 
  }
  